.inner{
  display: flex;
  height:100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.weatherBox{
  border: 3px solid white;
  border-radius: 5px;
  background-color: wheat;
  padding: 50px;
}

body{
  height: 100vh;
  background: url(https://images.ctfassets.net/hrltx12pl8hq/1DauLWsEwcnLf4NpCUMxxZ/85290d98239ff0bbee9803932249c444/weather-shutterstock_1716559711.jpg?fit=fill&w=480&h=320);
  background-repeat: no-repeat;
  background-size: cover;
}